<div class="content">

    <mat-card>
          <mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
          <mat-grid-list cols="5" rowHeight="380px" *ngIf="!isLoading">
              <mat-grid-tile>
                <img src={{movie.posterPath}}>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" class="movie-header-data">

                <div>

                  <h1>{{movie.title}}</h1>
                  <h2>{{movieYear}}</h2>
                  <h3 *ngFor="let genre of movie.genres" class="genres"> {{genre}} </h3>
                  <br><br>
                  <div><h4 style="display: inline;">Release: </h4><p style="display: inline;">{{movieReleaseDate}}</p></div>
                  <br>
                  <mat-chip-list>
                      <mat-chip><mat-icon class="mat-18">access_time</mat-icon>{{movie.duration}} min</mat-chip>
                      <mat-chip color="accent" selected><mat-icon class="mat-18">move_to_inbox</mat-icon>{{movie.rents}}</mat-chip>
                  </mat-chip-list>
                  <a href={{movie.trailerLink}} target="_blank">Trailer</a>
                  <div class="admin-btns" *ngIf="isAdmin">
                    <button mat-raised-button color="accent" type="button" [routerLink]="['/admin/movieadd',movie.id]">Edit Movie</button>
                    <button mat-raised-button color="warn" type="button" (click)="onDeleteMovie()">Delete Movie</button>
                  </div>
                </div>

              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <div style="width: 90%;">
                <p>
                    {{movie.plotsum}}
                </p>
                </div>
              </mat-grid-tile>
          </mat-grid-list>
          <button mat-flat-button color="accent" class="rent-btn">Rent</button>

          <mat-tab-group color="accent">
              <mat-tab label="Cast">
                  <mat-list>
                    <div *ngFor="let role of roles">
                      <mat-list-item >
                        <img mat-card-avatar src={{role.actor.portraitPath}}>
                        <p><a [routerLink]="['/actordetail',role.actor._id]" >{{role.actor.firstName}}  {{role.actor.lastName}}</a> - {{role.name}}</p>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                    </div>
                  </mat-list>
              </mat-tab>
              <mat-tab label="Directors">
                  <mat-list>
                    <div *ngFor="let director of directors">
                      <mat-list-item><img mat-card-avatar src={{director.portraitPath}}><p> <a [routerLink]="['/actordetail',director.id]">{{director.firstName}} {{director.lastName}} </a></p></mat-list-item>
                      <mat-divider></mat-divider>
                    </div>
                  </mat-list>
              </mat-tab>
          </mat-tab-group>
    </mat-card>
    </div>
