<div class="content">
<mat-card>
  <mat-card-title>
    Register
  </mat-card-title>
  <mat-card-content>
    <form (submit)="onSignUp(signUpForm)" #signUpForm="ngForm">
      <mat-form-field color="accent">
            <input matInput placeholder="First name" ngModel name="firstName">
      </mat-form-field>

      <mat-form-field color="accent">
          <input matInput placeholder="Last name" ngModel name="lastName">
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput placeholder="Username" ngModel name="username">
      </mat-form-field>

      <mat-form-field color="accent">
          <input matInput placeholder="Email" #emailInput="ngModel" name="email" ngModel required email>
          <mat-error *ngIf="emailInput.invalid">Please enter valid email.</mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput [matDatepicker]="picker" placeholder="Date of birth" name="dateOfBirth" ngModel>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput type="password" placeholder="Password" #passwordInput="ngModel" name="password" ngModel required>
        <mat-hint align="start">*At least 6 letters, 1 Upercase letter and 1 numeric value</mat-hint>
        <mat-error *ngIf="passwordInput.invalid">Please enter password.</mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
          <input matInput type="password" placeholder="Confirm Password" #passwordConfirm="ngModel" ngModel name="passwordConfirm" required>
          <mat-error *ngIf="passwordConfirm.invalid">You must confirm your first password input.</mat-error>
      </mat-form-field>

      <mat-checkbox>I agree to the <a  matTooltipPosition="after" matTooltip="Clicking this will open our privacy policy and terms of service" target="_blank" class="pt-check" href="https://policies.google.com/privacy">Privacy policy and terms of service</a> of Moviestacks</mat-checkbox>

      <button mat-flat-button color="accent" type="submit">Register</button>
    </form>
  </mat-card-content>
</mat-card>
</div>
