<div class="content-color">
<div class="content">
<mat-card>
  <mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
  <mat-card-title *ngIf="!isLoading">
    Register
  </mat-card-title>
  <mat-card-content>
    <form (submit)="onSignUp()" [formGroup]="signUpForm" *ngIf="!isLoading" novalidate>
      <mat-form-field color="accent">
            <input matInput placeholder="First name" formControlName="firstName">
      </mat-form-field>

      <mat-form-field color="accent">
          <input matInput placeholder="Last name" formControlName="lastName">

      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput placeholder="Username" formControlName="username" name='username'>
        <mat-error *ngIf="signUpForm.controls.username.invalid">Please enter username</mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="signUpForm.controls.username.email">Please enter valid email.</mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Date of birth" formControlName="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput type="password" placeholder="Password"  formControlName="password">
        <mat-hint align="start">*At least 6 letters, 1 Upercase letter and 1 numeric value</mat-hint>
        <mat-error *ngIf="signUpForm.controls.username.password">Please enter password.</mat-error>
      </mat-form-field>
      <mat-error class="my-err-terms" *ngIf="passwordFormatErr" class="my-err-pass">Password does not match needed format</mat-error>
      <mat-form-field color="accent">
          <input matInput type="password" placeholder="Confirm Password"  formControlName="passwordConfirm">
          <mat-error *ngIf="signUpForm.controls.username.passwordConfirm">You must confirm your first password input.</mat-error>

      </mat-form-field>
      <mat-error class="my-err-pass" *ngIf="passwordsNotMatchingErr">Password inputs do not match.</mat-error>
      <mat-checkbox  formControlName="termsConfirm">I have read and agree to the <a  matTooltipPosition="after" matTooltip="Clicking this will open our privacy policy and terms of service" target="_blank" class="pt-check" href="https://policies.google.com/privacy">Privacy policy and terms of service</a><br>  of Moviestacks</mat-checkbox>
      <mat-error class="my-err-terms" *ngIf="termsConfirmErr">You must confirm before Sign Up</mat-error>
      <button mat-flat-button color="accent" type="submit">Register</button>
    </form>
  </mat-card-content>
</mat-card>
</div>
</div>
