<div class="content">
<mat-card>
      <mat-grid-list cols="5" rowHeight="380px;">
          <mat-grid-tile>

            <img src="https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_SY1000_CR0,0,674,1000_AL_.jpg">

          </mat-grid-tile>
          <mat-grid-tile colspan="2" class="movie-header-data">

            <div>

              <h1>Avengers: Infinity War</h1>
              <h2>2018</h2>
              <h3>Action, Adventure, Fantasy</h3>
              <div><h4 style="display: inline;">Release: </h4><p style="display: inline;">27.04.2018</p></div>
              <br>
              <mat-chip-list>
                  <mat-chip><mat-icon class="mat-18">access_time</mat-icon>2h 29min</mat-chip>
                  <mat-chip><mat-icon class="mat-18">rate_review</mat-icon>PG-13 </mat-chip>
                  <mat-chip color="accent" selected><mat-icon class="mat-18">favorite</mat-icon>100</mat-chip>
              </mat-chip-list>
              <a href="" target="_blank">Trailer</a>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <div style="width: 90%;">
            <p>
                The Avengers and their allies must be willing to sacrifice all in an attempt
                to defeat the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.
            </p>
            </div>
          </mat-grid-tile>
      </mat-grid-list>
      <button mat-flat-button color="accent" class="rent-btn">Rent</button>

      <mat-tab-group color="accent">
          <mat-tab label="Cast">
              <mat-list>
                  <mat-list-item><img mat-card-avatar src="https://m.media-amazon.com/images/M/MV5BNzg1MTUyNDYxOF5BMl5BanBnXkFtZTgwNTQ4MTE2MjE@._V1_UX214_CR0,0,214,317_AL_.jpg">
                    <p><a routerLink="/" color="accent">Robert Downey Jr</a> - Tony Stark/Iron man</p></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><img mat-card-avatar src="https://m.media-amazon.com/images/M/MV5BMTM3OTUwMDYwNl5BMl5BanBnXkFtZTcwNTUyNzc3Nw@@._V1_UY317_CR23,0,214,317_AL_.jpg">
                    <p><a routerLink="/" color="accent">Scarlett Johansson</a> - Natasha Romanoff / Black Widow</p></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><img mat-card-avatar src="https://m.media-amazon.com/images/M/MV5BNTAzMzA3NjQwOF5BMl5BanBnXkFtZTgwMDUzODQ5MTI@._V1_UY317_CR23,0,214,317_AL_.jpg">
                    <p><a routerLink="/" color="accent">Tom Holland</a> - Peter Parker / Spider-Man</p></mat-list-item>
              </mat-list>
          </mat-tab>
          <mat-tab label="Directors">
              <mat-list>
                  <mat-list-item><img mat-card-avatar src="https://m.media-amazon.com/images/M/MV5BNzg1MTUyNDYxOF5BMl5BanBnXkFtZTgwNTQ4MTE2MjE@._V1_UX214_CR0,0,214,317_AL_.jpg"><p>Anthony Russo</p></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><img mat-card-avatar src="https://m.media-amazon.com/images/M/MV5BMTM3OTUwMDYwNl5BMl5BanBnXkFtZTcwNTUyNzc3Nw@@._V1_UY317_CR23,0,214,317_AL_.jpg"><p>Joe Russo</p></mat-list-item>
              </mat-list>
          </mat-tab>
      </mat-tab-group>


</mat-card>
</div>
