.main-search{
  width: 300px;
  margin-left: 2em;
}

.main-search-icon{
  margin-top: 0.2em;
  margin-right: 0.5em;
}

.navbar-logo{
  width: 10em;
}

body{
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a{
  text-decoration: none;
  color: white;
}

.spacer{
  flex: 1 1 auto;
}

.logo-home-link{
  width: 0;
  height: 1.5em;
}

input {
  font-size: 0.8em;
}
