<mat-toolbar color="primary">
  <a class="logo-home-link" routerLink="/">
  <img src="assets/images/logo.png" class="navbar-logo">
  </a>
  <span class="spacer"></span>
  <mat-form-field color="accent" class="main-search">
      <input matInput type="search" (focus)="onSearchFocused()" (blur)="onSearchBlur()">
    </mat-form-field>
    <mat-icon class="main-search-icon" color={{searchIconColor}}>search</mat-icon>
  <ul>
    <li>
      <a mat-button routerLinkActive="mat-accent">My Movies</a>
  </li>

  </ul>
  <ul>
    <li>
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li>
      <a mat-button routerLinkActive="mat-accent" routerLink="/signup">Sign Up</a>
    </li>
  </ul>
</mat-toolbar>
