<div class="content">
<mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
<div *ngIf="!isLoading">
<mat-grid-list cols="5" rowHeight="535px">
      <mat-grid-tile *ngFor="let moviea of moviesToDisplay">
          <app-moviecard [movie]="moviea" likeRent="true"></app-moviecard>
      </mat-grid-tile>
</mat-grid-list>
</div>
</div>
<mat-paginator *ngIf="!isLoading" [length]="movieCount" [pageSize]="moviesPerPage"
[pageSizeOptions]="pageSizeOptions"
(page)="onChangePage($event)"
showFirstLastButtons>
</mat-paginator>

