<mat-card class="example-card" style="display: inline-block; padding-top:15px;padding-bottom: 15px;">
  <a routerLink="/" class="movie-link-card">
  <mat-card-header>
    <mat-card-title>{{movieTitle}}</mat-card-title>
    <mat-card-subtitle style="margin-bottom: 5px;">{{movieGenres}}</mat-card-subtitle>
  </mat-card-header>

  <div class="time-chip-bottom-spacer"></div>
  <img mat-card-image style="margin-bottom: 2px;" src={{moviePosterPath}} alt={{movieTitle}}>
 </a>
  <mat-chip-list>
    <mat-chip style="margin-left: 0.8em;" color="accent" class="price-chip" selected ><mat-icon>local_offer</mat-icon>{{moviePrice}} stacks</mat-chip>
  </mat-chip-list>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>

