<mat-card class="example-card" style="display: inline-block;">
    <mat-card-header>
      <mat-card-title>Avengers: Infinity War (2018)</mat-card-title>
      <mat-card-subtitle>Action, Adventure, Fantasy</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_SY1000_CR0,0,674,1000_AL_.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <mat-chip-list>
        <mat-chip><mat-icon>access_time</mat-icon>2h 55min</mat-chip>
        <mat-chip><mat-icon>local_movies</mat-icon>PG-13</mat-chip>

            <mat-chip color="accent" selected><mat-icon>local_offer</mat-icon>3 stacks</mat-chip>

        </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>




    </mat-card-actions>
  </mat-card>
