mat-card {
  width: 200px;
  margin: 0.5em;
  height: 475px;
  margin-bottom: 10px;
}

mat-card-header{
  height: 40px;
}

mat-card img{
 height: 400px;

}

mat-icon {
  margin-right: 0.3em;

}

mat-chip{
  display: inline-block;
  height: 2.2em;
}

.price-chip{
  width: 100%;
  justify-content: center;
}

.time-chip-bottom-spacer{
  margin-bottom: 5px;
}

.time-chip {
  margin-left: 10px;
}

.movie-link-card{
  text-decoration: none;
  color: inherit;
}
