
<mat-card style="padding-top: 10px;">
  <a routerLink="/" class="movie-link-card">
  <mat-card-header>
    <mat-card-title>{{movieTitle}}</mat-card-title>
    <mat-card-subtitle style="margin-bottom: 5px;">{{movieGenres}}</mat-card-subtitle>
  </mat-card-header>

  <div class="time-chip-bottom-spacer"></div>
  <img mat-card-image  src={{moviePosterPath}} alt={{movieTitle}}>
 </a>
  <mat-chip-list *ngIf="likeRent">
     <mat-chip color="accent"selected ><mat-icon>local_offer</mat-icon>{{moviePrice}} stacks</mat-chip>
        <mat-chip style="font-size: 15px">
          <mat-icon [inline]="true">favorite</mat-icon> {{moviePrice}}00
        </mat-chip>
        <button mat-button color="accent">Rent</button>
  </mat-chip-list>
</mat-card>

