
<mat-card style="padding-top: 10px;">
  <a [routerLink]="['/moviedetail',movie.id]" class="movie-link-card">
  <mat-card-header>
    <mat-card-title>{{movie.title}} ({{movieYear}}) </mat-card-title>
    <mat-card-subtitle style="margin-bottom: 5px;"></mat-card-subtitle>
  </mat-card-header>

  <div class="time-chip-bottom-spacer"></div>
  <img mat-card-image  src={{movie.posterPath}} alt={{movie.title}}>
 </a>
  <mat-chip-list *ngIf="likeRent">
        <mat-chip style="font-size: 15px">
          <mat-icon [inline]="true">move_to_inbox</mat-icon> {{movie.rents}}
        </mat-chip>
        <button mat-button color="accent" (click)="onRent()">Rent</button>
  </mat-chip-list>
  <mat-chip-list *ngIf="myMovies">
    <mat-chip style="font-size: 16px" class="time-chip">
      <mat-icon >access_time</mat-icon> <p>{{daysLeft}} Days left</p>
    </mat-chip>
  </mat-chip-list>
</mat-card>

