<mat-card *ngIf="!forgotPassword">
    <mat-card-title>
      Log in
    </mat-card-title>
    <mat-card-content>
      <form (submit)="onLogIn(logInForm)" #logInForm="ngForm">
        <mat-form-field color="accent">
            <input matInput placeholder="Email" #emailInput="ngModel" name="email" ngModel email>
        </mat-form-field>

        <mat-form-field color="accent">
          <input matInput type="password" placeholder="Password" #passwordInput="ngModel" name="password" ngModel>
        </mat-form-field>
        <button mat-flat-button color="accent" type="submit">Log in</button>
      </form>
      <p class="not-registered-link">Not registered? <a routerLink="/signup">Create an account</a> </p>
      <p class="forgot-passw-link"><a (click)="onForgotPassword()">Forgot your password?</a></p>
    </mat-card-content>
</mat-card>
<div class="content">
<mat-card *ngIf="forgotPassword">

    <mat-card-title>
        Forgot your password?
    </mat-card-title>
    <mat-card-content>
      <form (submit)="onLogIn(logInForm)" #logInForm="ngForm">
        <mat-form-field color="accent">
            <input matInput placeholder="Email" #emailInput="ngModel" name="email" ngModel email>
            <mat-hint align="start">Enter the email you registered with and we will send you a password reset link.</mat-hint>
        </mat-form-field>
        <button mat-flat-button color="accent" type="submit">Email link</button>
      </form>
      <button (click)="onBackToLogIn()" mat-button class="back-button" mat-mini-fab color="primary"><mat-icon>keyboard_arrow_left</mat-icon></button>
    </mat-card-content>
</mat-card>
</div>
