<mat-card>
    <mat-card-title>
      Log in
    </mat-card-title>
    <mat-card-content>
      <form (submit)="onLogIn(logInForm)" #logInForm="ngForm">
        <mat-form-field color="accent">
            <input matInput placeholder="Email" #emailInput="ngModel" name="email" ngModel email>
        </mat-form-field>

        <mat-form-field color="accent">
          <input matInput type="password" placeholder="Password" #passwordInput="ngModel" name="password" ngModel>
        </mat-form-field>
        <button mat-flat-button color="accent" type="submit">Log in</button>
      </form>
      <p>Not registered? <a routerLink="/signup">Create an account</a> </p>
    </mat-card-content>

  </mat-card>

