<div class="content">
  <div style="height:12em;"></div>
  <div class="slogan-container">
      <h1> Want to rent movies like old times? </h1>
      <button color="accent" mat-stroked-button class="confirm-btn"
      [routerLink]=" ['/signup'] ">Join Now</button>
      <div class="moviedb-logo">
        <a target="_blank" href="https://www.themoviedb.org/">
          <img src="assets/images/moviedblogo.png">
        </a>
      </div>
  </div>
  <div class="favIcon-credit">Favicon made by
    <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
</div>

