<div class="content">

    <mat-card>

        <mat-grid-list cols="5" rowHeight="380px;" >
            <mat-grid-tile>
              <img src="https://m.media-amazon.com/images/M/MV5BNzg1MTUyNDYxOF5BMl5BanBnXkFtZTgwNTQ4MTE2MjE@._V1_SY1000_CR0,0,664,1000_AL_.jpg">
            </mat-grid-tile>
            <mat-grid-tile colspan="2" class="movie-header-data">

              <div>

                <h1>
                    Robert Downey Jr.</h1>

                <div><h4 style="display: inline;">Born: </h4><p style="display: inline;">04.04.1965</p></div>
                <br>
                <mat-chip-list>
                    <mat-chip>Actor</mat-chip>
                    <mat-chip>Producer </mat-chip>
                </mat-chip-list>
              </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
              <div style="width: 90%;">
              <p>
                 {{actorBio}}
              </p>
              <button mat-raised-button (click)="openDialog()" color="accent">Read More</button>
              </div>

            </mat-grid-tile>
        </mat-grid-list>
        <mat-tab-group color="accent">
            <mat-tab label="Acted">
                <mat-list>
                    <mat-list-item>
                      <p><a routerLink="/" color="accent">Avengers: Infinity War </a> - Tony Stark/Iron man</p></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <p><a routerLink="/" color="accent">The Judge </a> - Hank Palmer</p></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <p><a routerLink="/" color="accent">Chef </a> - Marvin</p></mat-list-item>
                </mat-list>
            </mat-tab>
            <mat-tab label="Directed">
                <mat-list>
                    <mat-list-item><a routerLink="/" color="accent">Singularity</a></mat-list-item>
                </mat-list>
            </mat-tab>
        </mat-tab-group>


    </mat-card>


    </div>
