<div class="content-color">
<div class="content">

    <mat-card style="margin-bottom: 0;">
        <mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
        <mat-grid-list cols="5" rowHeight="380px" *ngIf="!isLoading">
            <mat-grid-tile>
              <img src={{actor.portraitPath}} alt={{actor.firstName}}>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" class="movie-header-data">

              <div>

                <h1>
                    {{actor.firstName}} {{actor.lastName}}</h1>

                <div *ngIf="born !== 'Invalid date'"><h4 style="display: inline;">Born: </h4><p style="display: inline;">{{born}}</p></div>
                <div *ngIf="died !== 'Invalid date'"><h4 style="display: inline;">Died: </h4><p style="display: inline;">{{died}}</p></div>
                <br>
                <mat-chip-list *ngFor="let ocupation of actor.ocupations">
                    <mat-chip>{{ocupation}}</mat-chip>
                </mat-chip-list>
              </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
              <div style="width: 90%;">
              <p *ngIf="actorBio !== ''">
                 {{actorBio}}
              </p>
              <button mat-raised-button (click)="openDialog()" color="accent">Read More</button>
              </div>

            </mat-grid-tile>
        </mat-grid-list>
        <mat-tab-group color="accent">
            <mat-tab label="Acted">
                <mat-list>
                  <div *ngFor="let role of roles">
                    <mat-list-item>
                      <p><a [routerLink]="['/moviedetail',role.movie._id]" color="accent">{{role.movie.title}} </a> - {{role.name}}</p></mat-list-item>
                    <mat-divider></mat-divider>
                  </div>
                </mat-list>
            </mat-tab>
            <mat-tab label="Directed">
                <mat-list>
                  <div *ngFor="let movie of directed">
                    <mat-list-item><a [routerLink]="['/moviedetail',movie.id]" color="accent">{{movie.title}}</a></mat-list-item>
                    <mat-divider></mat-divider>
                  </div>
                </mat-list>
            </mat-tab>
        </mat-tab-group>


    </mat-card>


</div>
</div>
