mat-card{
  width: 30%;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7em;
  margin-bottom: 0.5em;
}

mat-spinner{
  margin: auto;
}

mat-form-field {
  width: 100%;
  display: block;
  padding-bottom: 0.7em;
}

button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  display: block;
  width: 60%;
}

mat-card-title{
  margin-bottom: 1em;
}


.not-registered-link{
  margin-top: 2em;
}

.forgot-passw-link{
  margin-top: 0.5em;
}

p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 57%;
  text-align: center;
}


a {
 color:#8EFFA3;
}

.back-button{
  width: 3em;
}

.content{
  width: 85%;
  margin: auto;
}






